
/* general*/

html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

  :root {
      --main-color: #0000;
  }
  
body {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

/* barra*/

.topbar {
    background-color:  #F8765E;
    background-attachment: fixed;
    background-position: 100%;
    background-size: auto;
    height: 100px;
    margin-top: -30px;
    max-width:100%;
}

.logo {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 26px;
    color: white;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    padding-top: 35px;
    padding-left: 120px;
}

.navegacion {
        font-size: 17px;
        font-family: 'Roboto', sans-serif;
        color: white;
        font-weight: 900;
        -webkit-font-smoothing: antialiased;
        margin-top: -90px;
        margin-right: 110px;
        overflow: hidden;
        position: sticky;
        float: right;
    }

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    padding: 20px;
}

a {
    color: white;
    text-decoration: none;
}

/* hero*/

.hero {
    width: 100%;
    background-color:  #F8765E;
    background-attachment: fixed;
    background-position: 100%;
    background-size: auto;
    height: 820px;
    margin-top: -40px;
}

h1 {
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 60px;
/* identical to box height, or 125% */
color: #ffffff;
padding-top: 150px;
padding-left: 120px;
width: 50%;
}

.parrafoinicial {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 30px;
color: #ffffff;
width: 45%;
padding-left: 120px;
position: relative;
   top: -15px;
}

.fotomovil {
float: right;
overflow: hidden;
position: relative;
    top: -370px;    
    right: 70px;
}

/* cards */

.cards {
    position: relative;
    top: -100px;
    margin-left: 120px;
    margin-right: 120px;
    background-color: white;
    border-radius: 15px;
    box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.15);
    padding-bottom: 10%;
}